<!doctype html>
<html>
<head>
  <title>Welcome to the Game!</title>
</head>
<body>

<h1>Welcome to the Game!</h1>


<form action="/madlib">
    <label for="person-text">Type in a Person:</label>
    <input type="text" name="madlib-person" id="person-text">
    <br><br>
    <label for="color-select">Choose a color:</label>
    <select name = "madlib-colors" id="color-select">
        <option value="magenta">Magenta</option>
        <option value="chartreuse">Chartreuse</option>
        <option value="crimson">Crimson</option>
        <option value="peach">Peach</option>
        <option value="burgundy">Burgundy</option>
    </select>
    <br><br>
    <label for="noun-text">Type in a Noun:</label>
    <input type="text" name="madlib-noun" id="noun-text">
    <br><br>
    <label for="adjective-text">Type in a Adjective:</label>
    <input type="text" name="madlib-adjective" id="adjective-text">
    <br><br>
    <input type="submit">
</form>

</body>
</html>

<!-- person, color, noun, adjective  -->


